:root {
    --primary-color: #f08842;
    --primary-color-dark: #e57830;
    --primary-color-light: #ff944c;
    --secondary-color: #ffedd0;
    --font-color-dark: #333;
    --font-color-light: #fff;
}

/* * {
    justify-content: center;
    align-items: center;
} */

body {
    margin: 0 auto;
    max-width: 2500px;
}

header {
    background-color: var(--primary-color);
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
    position-anchor: sticky;
}

h1 {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: end;
    align-items: center;
    background-color: var(--primary-color-dark);
    text-decoration: none;
    font-size: medium;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: var(--font-color-dark);
}

nav a:hover{
    color: black;
    background-color: lightblue;
    border-radius: 5px;
    font-size: medium;
}

main{
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

.card1 {
    border-radius: 30px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    max-width: 100%;
    min-width: 400px;
}

img{
    width: 50%;
}

.card2{
    border-radius: 30px;
    background-color: var(--secondary-color);
    margin: 0 auto;
    max-width: 100%;
    min-width: 350px;
    height: 600px;
}

.cards h2{
    padding: 10px;
}

.skiptocontent a:focus{
    top: 0;
}

