img{
    max-width: 100%;
}

.main_nav {
    list-style-type: none;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
}

.media-card{
    display: flex;
    flex-direction: column;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.gallery > * {
    flex: 1 1 460px;
}


@media screen and (max-width: 550px){
.media-card{
    flex-direction: row;
}
.media-card-image{
    flex: 0 1 250px;
}
.media-card-content{
    flex: 0 1 60ch;
}
}